$sassy: #D1649B;
$gulpy: #EA4A4A;

body {
	color: 	#909090;
	background-color: #E0E0E0;
	font-family: 'Pacifico', cursive;
}

p {
	color: blue;
} 

.gulp-heading {
	color: $gulpy;
}

.sass-heading {
	color: $sassy;	
} 
